html {
  --primary-light: #d0d1f0;
  --primary: #5457b6;
  --primary-dark: #363aa1;
  --red: #ed6468;
  --light-red: #ffb8bb;
  --light-gray: #939ba2;
  --gray: #67727e;
  --dark-gray: #324152;
  --background: #f0f2f8;
  --white: #ffffff;
  --black: #000000;
  font-size: 62.5%;
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Lato', sans-serif;
  font-size: 1.6rem;
  background-color: var(--background);
}

a {
  color: inherit;
  text-decoration: none;
}

input,
textarea,
button {
  font-family: inherit;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
