.recognizedExpression {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.code {
  background-color: var(--white);
  border: 1px solid var(--gray);
  color: var(--gray-dark);
  font-size: 1.4rem;
  padding: 5px 8px;
  margin: 0 10px;
  border-radius: 2px;
}
