.button {
  color: var(--white);
  border-radius: 4px;
  text-transform: uppercase;
  background-color: var(--primary);
  padding: 12px 20px;
  border: none;
  cursor: pointer;
  font-size: 1.5rem;
  font-weight: 500;
  transition: 0.2s;

  &:hover,
  &:focus {
    background-color: var(--primary-dark);
  }

  &.outlined {
    background-color: var(--background);
    border: 2px solid var(--gray-dark);
    color: var(--black);

    &:hover,
    &:focus {
      background-color: var(--primary-light);
    }
  }

  &.small {
    font-size: 1.3rem;
    padding: 6px 10px;
  }
}
